<!-- Button trigger modal -->
<button type="button" class="new-tag-btn" data-bs-toggle="modal" data-bs-target="#tagModal" data-turbo="false">
  <i class="fa-solid fa-plus"></i> Créer un tag
</button>


<!-- Modal -->
<div class="modal fade" id="tagModal" tabindex="-1" aria-labelledby="tagModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tagModalLabel">Ajouter un tag</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <%= simple_form_for @tag do |f| %>
        <%= f.input :name, label_html: {class: "fs-20px"} %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Créer un tag", class: "d-block mx-auto btn btn-main" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
