<!-- Button trigger modal -->
<button type="button" class="btn btn-vp py-2 px-4 m-2" data-bs-toggle="modal" data-bs-target="#exampleModal" data-turbo="false">
  Créer une nouvelle liste
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Créer une nouvelle liste</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@list) do |f| %>
        <%= f.input :name, :label => 'Nom', label_html: {class: "fs-20px"} %>
        <%= f.input :public, :label => 'Publique', input_html: { class: "toggle" } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-main" data-bs-dismiss="modal">Fermer</button>
        <%= f.submit "Créer une liste", class: "btn btn-main" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
