
  <div class="modal fade" id="favoriteModal" data-modal-target="modal" tabindex="-1" aria-labelledby="favoriteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold" id="favoriteModalLabel">Détails du favori</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5 class="fw-semibold"><%= favorite.name %></h5>
          <p><%= favorite.description %></p>
          <%= link_to favorite_path(favorite), class: 'btn btn-main' %>
        </div>
      </div>
    </div>
  </div>
</div>
