<div class="container mt-5 border">
  <div class="d-flex border" style="height: 500px">
    <img src="https://img.leboncoin.fr/api/v1/lbcpb1/images/9d/fc/ef/9dfcefd8826fe01b87d597059893335687f8b6a1.jpg?rule=classified-1200x800-webp" alt="">
    <div class="d-flex flex-column space- border">
      <h1>test</h1>
      <h1>test</h1>
    </div>
    <div class="d-flex flex-column border">
      <h1>test</h1>
      <h1>test</h1>
    </div>
  </div>
</div>
      
      
      
      
      
      
      
      
      
      
<%#       
   <img class="image-favorite-main" src="https://img.leboncoin.fr/api/v1/lbcpb1/images/9d/fc/ef/9dfcefd8826fe01b87d597059893335687f8b6a1.jpg?rule=classified-1200x800-webp" alt="">
    </div>
      <img class="image-favorite-main" src="https://img.leboncoin.fr/api/v1/lbcpb1/images/9d/fc/ef/9dfcefd8826fe01b87d597059893335687f8b6a1.jpg?rule=classified-1200x800-webp" alt="">
      <img class="image-favorite-main" src="https://img.leboncoin.fr/api/v1/lbcpb1/images/9d/fc/ef/9dfcefd8826fe01b87d597059893335687f8b6a1.jpg?rule=classified-1200x800-webp" alt="">
      <img class="image-favorite-main" src="https://img.leboncoin.fr/api/v1/lbcpb1/images/9d/fc/ef/9dfcefd8826fe01b87d597059893335687f8b6a1.jpg?rule=classified-1200x800-webp" alt="">
      <img class="image-favorite-main" src="https://img.leboncoin.fr/api/v1/lbcpb1/images/9d/fc/ef/9dfcefd8826fe01b87d597059893335687f8b6a1.jpg?rule=classified-1200x800-webp" alt="">
  </div>
  <div class="product descritpion col-5">
    <div class="card card-product-description">
      <div class="card-body">
        <h4 class="card-title"><%= @favorite.name</h5>
        <h5 class="card-subtitle mb-2"><%= @favorite.price€</h6>
        <h5 class="card-subtitle mb-2"><%= @favorite.size</h6>
        <h6 class="card-description mt-5">Description</h6>
        <div class="description border-top">
          <%# <p class="card-text"><%= @favorite.description %>
        <%# </div>
        <div class="card-add-list">
          <a href="#" class="card-link">Card link</a>
        </div>
        </div>
    </div>
    </div>
  </div>
</div>      %> 
      
       
      
      
      
      
     