.grid-img-favoris {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.image-favoris-show-main {
  border-radius: 10px;
}

.image-favoris-show {
  height: 247px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-body {
  width: 100%;
  height: 100%;
  border-radius: 5px;
    .card-show-title {
      color: black;
      font-size: 35px;
    }
    .card-subtitle {
      font-size: 20px;
      margin-top: 2px;
    }
}

.description {
  max-height: 200px;
  overflow-y: auto;
}

.list-name-show {
  color: #EB4511;
}