<div class="landing-bg d-flex justify-content-center align-items-center vh-100">
  <div class="text-center mb-5">
    <%= image_tag "https://res.cloudinary.com/dvrr4em0n/image/upload/v1725003969/logo-favhub_u39lls.png", style:"height: 120px"%>
    <div class="mt-5">
        <%= link_to "#", class: "btn-main mx-2 p-3" do %>
          <i class="fa-solid fa-download"></i>
          Récupérer mes favoris
        <% end %>
        <%= link_to dashboards_path, class: "btn-secondary mx-2 p-3" do %>
          Mon dashboard
          <i class="fa-solid fa-arrow-right"></i>
        <% end %>
    </div>

</div>
