<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center mb-5">
    <%= image_tag "logo-favhub.png", style:"height: 120px"%>
    <div class="mt-5">
        <%= link_to "#", class: "btn-main mx-2 p-3" do %>
          <i class="fa-solid fa-download"></i>
          Récupérer mes favoris
        <% end %>
        <%= link_to "#", class: "btn-secondary mx-2 p-3" do %>
          Mon dashboard
          <i class="fa-solid fa-arrow-right"></i>
        <% end %>
    </div>
  
</div>