<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-2 mt-3">
      <div class="card h-100">
        <div class="card-body">
          Fil d'actualité
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4 mt-3">
          <div class="card">
            <div class="card-body">
              Première carte
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3">
          <div class="card">
            <div class="card-body">
              Deuxième carte
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3">
          <div class="card">
            <div class="card-body">
              Troisième carte
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3">
          <div class="card">
            <div class="card-body">
              Quatrième carte
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3">
          <div class="card">
            <div class="card-body">
              Cinquième carte
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3">
          <div class="card">
            <div class="card-body">
              Sixième carte
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3">
          <div class="card">
            <div class="card-body">
              Septième carte
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-2 mt-3">
      <div class="card h-100">
        <div class="card-body">
          Partie droite
        </div>
      </div>
    </div>
  </div>
</div>
