.btn-main {
  color: white;
  font-weight: stronger;
  font-size: 20px;
  text-decoration: none;
  background-color: #EB4511;
  border: 1px solid #EB4511;
  padding: 8px 24px;
  border-radius: 10px;
  transition: 0.5s ease;
}

.btn-secondary {
  color: #EB4511;
  font-weight: stronger;
  font-size: 20px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #EB4511;
  padding: 8px 24px;
  border-radius: 10px;
  transition: 0.5s ease;
}

.btn-secondary:hover {
  color: white;
  font-weight: stronger;
  font-size: 20px;
  text-decoration: none;
  background-color: #EB4511;
  padding: 8px 24px;
  border-radius: 10px;
  transition: 0.5s ease;
}

.btn-main:hover {
  color: #ffffff;
  font-weight: stronger;
  font-size: 20px;
  text-decoration: none;
  background-color: #EB4511;
  border: 2px solid #EB4511;
  padding: 8px 24px;
  border-radius: 10px;
  transition: 0.5s ease;
}
.dropdown-toggle::after {
  display: none;
}
