.btn-main {
  color: white;
  font-weight: stronger;
  font-size: 15px;
  text-decoration: none;
  background-color: #EB4511;
  border: 1px solid #EB4511;
  padding: 8px 24px;
  border-radius: 10px;
  transition: 0.5s ease;
}

.btn-secondary {
  color: #EB4511;
  font-weight: stronger;
  font-size: 15px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #EB4511;
  padding: 8px 24px;
  border-radius: 10px;
  transition: 0.5s ease;
}

.btn-secondary:hover {
  color: white;
  font-weight: stronger;
  font-size: 15px;
  text-decoration: none;
  background-color: #EB4511;
  padding: 8px 24px;
  border-radius: 10px;
  transition: 0.5s ease;
}

.btn-main:hover {
  color: #ffffff;
  font-weight: stronger;
  font-size: 15px;
  text-decoration: none;
  background-color: #EB4511;
  border: 2px solid #EB4511;
  padding: 8px 24px;
  border-radius: 10px;
  transition: 0.5s ease;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-item-navbar:hover {
  background-color:#EB4511;
  color: white;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.dropdown-item:hover {
  background-color:#EB4511;
  color: white;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.dropdown-menu li:last-child .dropdown-item:hover {
  background-color: #EB4511;
  color: white;
  border-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dropdown-menu {
  background-color: rgb(246, 244, 244);
  border-radius: 10px;
  padding: 0;
  border: none;
}
.btn-main:focus, .btn-main:active {
  outline: none;
  box-shadow: none;
  background-color: #EB4511;
  color: white;
  border: 1px solid #EB4511;
}
.btn-vp {
  color: white;
  font-weight: stronger;
  font-size: 15px;
  text-decoration: none;
  background-color: #EB4511;
  border: 1px solid #EB4511;
  border-radius: 10px;
  transition: 0.5s ease;
}
.btn-vp:hover {
  color: #ffffff;
  font-weight: stronger;
  font-size: 15px;
  text-decoration: none;
  background-color: #EB4511;
  border: 1px solid #EB4511;
  border-radius: 10px;
  transition: 0.5s ease;
}

