.search-form-control {
  position: relative;
}

.search-form-control .btn-nav {
  position: absolute;
  top: 4px;
  bottom: 4px;
  right: 4px;
}

.search-form-control .form-control {
  height: 3rem;
  background-color: #F5F5F5;
  border-radius: 33px;
}

.form-group:focus {
  outline: none;
  border: 0px !important; 
}

#search_query {
  width: 350px;
}

// #search_query:focus + button {
//   display: none;
// }

#search-form {
  margin-right: 5px;
}